In [ ]:
consumer_key="WiRtN39q11T2MFUwfa0ouNx3B"
consumer_secret="VoqfSJsSrIQTeLOkHF1BAAiP91YOb9EGsqTNlMijIjpKCcour6"
access_token="1255027424686817286-rEWXwqFf5rugDUzq8sZ4pxMgcEMjmG"
access_token_secret="UFNjD7deZoUrUJyKHH3Ol2F2fPUYQt6jxy8GYvK3N1e9Z"

In [ ]:
import tweepy
import pandas as pd
import regex as re
import csv

In [ ]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api=tweepy.API(auth)

In [ ]:
def scrap(hashtag_phrase,fname):
  count=500
  tweets=[]
  likes=[]
  followers=[]
  time=[]
  for i in tweepy.Cursor(api.search, q=hashtag_phrase+' -filter:retweets', lang="en", tweet_mode='extended').items(count):
    tweets.append(i.full_text)
    likes.append(i.favorite_count)
    time.append(i.created_at)
    followers.append(i.user.followers_count)
    df=pd.DataFrame({'tweets':tweets,'likes':likes,'followers':followers,'time':time})
    f_name=fname+".csv"
    df.to_csv(f_name,index=False)

In [ ]:
hashtag=input('Hastag phrase:')
file_name=input('File name:')
if __name__ == '__main__':
    scrap(hashtag,file_name)

Hastag phrase:#nestleindia
File name:temp2

In [ ]:
import pandas as pd
import re

In [ ]:
df=pd.read_csv("temp1.csv")
df.head()

                                              tweets  ...                 time
0  #ajio makes it impossible to connect with them...  ...  2021-07-18 18:42:31
1  Reliance industries Jamnagar #Reliance https:/...  ...  2021-07-18 18:42:00
2  Video on Just Dial and Reliance Retail is sche...  ...  2021-07-18 17:56:05
3  The Big Giant #Reliance shows the same set up ...  ...  2021-07-18 17:47:01
4  ANALYSIS.....! \n#NIFTY 50\n#NIFTYBANK \n#NIFT...  ...  2021-07-18 17:28:26

[5 rows x 4 columns]

In [ ]:
df["tweets"]=str(df["tweets"])
df["tweets"]=re.sub(r"[^\w\s]", "",str(df["tweets"]))
df["tweets"]=re.sub(r"[0-9]", "",str(df["tweets"]))
df["tweets"]=re.sub("[^A-Za-z0-9]+"," ",str(df["tweets"]))
df["tweets"]=re.sub("https://", "",str(df["tweets"]))

In [ ]:
df.head()

                                              tweets  ...                 time
0  0      0 ajio makes it impossible to 1 ajio ma...  ...  2021-07-18 18:42:31
1  0      0 ajio makes it impossible to 1 ajio ma...  ...  2021-07-18 18:42:00
2  0      0 ajio makes it impossible to 1 ajio ma...  ...  2021-07-18 17:56:05
3  0      0 ajio makes it impossible to 1 ajio ma...  ...  2021-07-18 17:47:01
4  0      0 ajio makes it impossible to 1 ajio ma...  ...  2021-07-18 17:28:26

[5 rows x 4 columns]